node_modules/
.expo/
.expo-shared/
dist/
build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.DS_Store
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
.vscode/
.idea/
*.swp
*.swo
*~
.ruby-version
coverage/
.nyc_output/
